* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color: hsl(30, 38%, 92%);
  font-family: 'Montserrat', sans-serif;
}
main {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  flex-wrap: wrap;
  
}
.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  width: 375px;
  height: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
}
img {
  height: 10px;
  border-radius: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text {
  margin-left: 2rem;
  padding: 1rem;
}
.box-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

}
.bold {
  font-family: 'fraunces', serif;
  font-size: 4rem;
}